<p id="notice"><%= notice %></p>

<div class="callout callout-default">
<h5>Συμμετοχές για την έξοδο στην ψησταριά Αστέρι</h4>
</div>
<div class="callout callout-callout-info">
  Ημερομηνία: Παρασκευή 26.06
</div>
<div class="callout callout-callout-danger">
  Ώρα: 19:00 (μετά την προπόνηση)
</div>

<button type="button" class="btn btn-primary">
  Αριθμός Ενηλίκων <span class="badge badge-light"><%= Participant.sum(:n_adults) %> </span>
</button>

<button type="button" class="btn btn-success">
  Αριθμός Παιδιών <span class="badge badge-light"><%= Participant.sum(:n_kids)  %> </span>
</button><br><br>

<table class="table table-condensed table-striped">
  <thead>
    <tr class ="table-info center">
      <th>Όνομα</th>
      <th>Συμμετοχή</th>
      <th>Αριθμός ενηλίκων</th>
      <th>Αριθμός παιδιών</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.order(name: :asc).each do |participant| %>
      <tr class ="center">
        <td><%= participant.name %></td>
        <td><%= participant.will_come ? "ΝΑΙ" : "ΟΧΙ" %></td>
        <td><%= participant.n_adults %></td>
        <td><%= participant.n_kids %></td>
        <td><%= link_to 'Τροποποίηση', edit_participant_path(participant), class:"btn btn-sm btn-outline-primary"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_participant_path %>
